# Virtual Environments (ignoring your specific folder 'venc')
**/venc/
**/venv/
**/.venv/

# Node Dependencies
**/node_modules/

# Build and Dist folders (do not upload these)
**/build/
**/dist/

# Python Cache
__pycache__/
*.pyc

# Secrets
.env
.env.example